.button{
  color: #ffffff;
  background-color: #007bff;
  padding: 1rem;
  border:  1px solid #007bff;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  
}

.li-container{
  display: flex;
  justify-content: space-between;
  margin: 0 12rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  
}


ul{
  list-style-type: none;
}
.delete-button{
  padding: 0.8rem;
  color: #ffffff;
  background-color: #dc3545;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #dc3545;
  width: 9rem;
}

.heading{
  color: #000000;
  font-size: 1.5rem;
  font-weight: 400;

}

.center-container{
  display: flex;
  justify-content: center;
  margin-bottom: 3.5rem;
}

h1{
  text-align: center;
  font-size: 3rem;
}

input{
  font-size: 1.5rem;
  padding-left: 1rem;
  margin-right: 0.5rem;
  width: 25vw;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}